@import "../css/null.css";
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #40424A;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  margin: 25px 0;
  border-bottom: 1px solid #bfbfbf;
  font-weight: 800;
}

#container {
  width: 80%;
  margin: 0 auto;
}

#header {
  width: 100%;
  background: #26282e;
  padding: 20px 0;
  margin-bottom: 40px;
}
#header .block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  width: 120px;
  line-height: 50px;
  color: #ddd;
  font-size: 24px;
  cursor: pointer;
}

.form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form input {
  width: calc(100% - 145px);
  height: 40px;
  text-indent: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-transition: 0.2s border;
  transition: 0.2s border;
}
.form input:focus {
  border: 1px solid #dd128f;
}
.form .btn {
  background-color: #dd128f;
  border: 1px solid #af1273;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  height: 40px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.form .btn:hover {
  background-color: #dd46a3;
}

.mask-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
  line-height: 32px;
  padding: 20px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: #383a42;
}

._complete-list li {
  opacity: 0.5;
}

input[type=checkbox] + span {
  padding-left: 10px;
}

.btn-remove {
  font-size: 12px;
  background-color: #232225;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 12px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn-remove:hover {
  background-color: #535151;
}

input[type=checkbox]:checked,
input[type=checkbox]:not(:checked) {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 20px;
  height: 20px;
  margin-top: 6px;
}

input[type=checkbox]:checked + span,
input[type=checkbox]:not(:checked) + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

input[type=checkbox]:checked + span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 3px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #dd128f;
}

input[type=checkbox]:checked + span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 1;
  left: 3px;
  top: 6px;
  background-color: #dd128f;
}

input[type=checkbox]:not(:checked) + span::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 3px;
  background-color: transparent;
  border: 2px solid #5d575f;
  border-radius: 2px;
}

input[type=checkbox]:not(:checked) + span::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  left: 3px;
  top: 6px;
  background-color: #7d25a9;
}